*
!*/
!/.gitignore
!/administrator/components/com_vmqrcode/**
!/build.sh
!/components/com_vmqrcode/**
!/LICENSE
!/pkg_vmqrcode/pkg_vmqrcode.xml
!/plugins/system/vmqrcode/**
!/README.md
!/screenshots/**
